.sidebar {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  position: relative;
  width: 30%;
  padding-left: 30px;
}

.filter-link {
  display: inline-block;
  margin-right: 10px;
  white-space: nowrap;
  color: black;
}

.filter-link:hover {
  color: gray;
}

.filter-by {
  color: black;
  font-size: 1.2rem;
  font-weight: 500;
}

.filter-group-title {
  color: black;
  font-size: 1.2rem;
  padding-top: 10px;
  margin-bottom: 23px;
}

.bike-headline {
  color: black;
  font-size: 2.5rem;
  margin-bottom: 5px;
}

.counter {
  white-space: nowrap;
  color: white;
  background-color: #555;
  padding: 2px 10px;
  border-radius: 15px;
}

.filters-class {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-top: 10px;
}
