* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "TikTok Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}
